@model ICollection<Data.Models.Post>
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
      ViewBag.Title = "Index";
} 
 <div class="em-wrapper-main">
                    <div class="container container-main">
                        <div class="em-inner-main">
                            <div class="em-wrapper-area02"></div>
                            <div class="em-main-container em-col2-left-layout">
                                <div class="row">
                                    <div class="col-sm-18 col-sm-push-6 em-col-main">
                                        <div class="em_post-items">
                                            @foreach (var item in Model)
                                            {
                                                <div class="em_post-item">
                                                    <div class="post-title">
                                                        <h2><a href="blog-detail.html">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                                                    </div>
                                                    <div class="post-header">
                                                        <p class="post-by">
                                                            <span class="post-user"><span>@Html.DisplayFor(modelItem => item.user.Name)</span></span>
                                                        </p> <span class="post-time"><small class="time-stamp">@Html.DisplayFor(modelItem => item.CreatedAt)</small></span> <a class="comment-post-link" href="blog-detail.html">Comments</a>
                                                    </div>
                                                    <div class="post-image">
                                                        <a href="blog-detail.html"> <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-reponsive" style="height:50px"> </a>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="std">
                                                            <p>
                                                                <span>@Html.DisplayFor(modelItem => item.Description)</span>
                                                                <span>@Html.DisplayFor(modelItem => item.Content)</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div><!-- /.em_post-item -->
                                            }
                                        </div><!-- /.em_post-items -->
                                        
                                    </div><!-- /.em-col-main -->
                                    <div class="col-sm-6 col-sm-pull-18 em-col-left em-sidebar">
                                        <div class="block em_blog-cat em-line-01">
                                            <div class="block-title"> <strong><span>Blog Categories</span></strong>
                                            </div>
                                            <div class="block-content">
                                                <ul class="nav-blog">
                                                    <li class=' level0 first parent'><a href='#'><span>Fashion</span></a>
                                                        <ul class='level0'>
                                                            <li class=' level1 first '><a href='#'><span>Men Fashion</span></a>
                                                            </li>
                                                            <li class=' level1 last '><a href='#'><span>Woman Fashion</span></a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class=' level0  '><a href='#'><span>Shoes</span></a>
                                                    </li>
                                                    <li class=' level0  '><a href='#'><span>Glass</span></a>
                                                    </li>
                                                    <li class=' level0  '><a href='#'><span>Baby</span></a>
                                                    </li>
                                                    <li class=' level0  '><a href='#'><span>Sport</span></a>
                                                    </li>
                                                    <li class=' level0  '><a href='#'><span>Swatch</span></a>
                                                    </li>
                                                    <li class=' level0  '><a href='#'><span>Jewelry</span></a>
                                                    </li>
                                                    <li class=' level0 last '><a href='#'><span>Garden</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.block -->
                                        <div class="block em_block-recent-post em-line-01">
                                            <div class="block-title"> <strong><span>Recent Posts</span></strong>
                                            </div>
                                            <div class="block-content">
                                                <ul class="em-recent-post">
                                                    <li class="item">
                                                        <a href="blog-detail.html"> <img alt="" src="images/blog/em_ads_07_15.jpg" /> </a> <a class="post-title em-blog-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                                        <p class="intro">
                                                            <p><span>Boutique festival Secret Garden went down in Sydney&rsquo;s&nbsp;Camden over the weekend, and all the free-spirited kids came out to play in a mix of creative and outlandish ensembles. Seriously, if you didn&rsquo;t scream eccentric and quirky, you would&rsquo;ve felt like the odd one out amongst the aliens, mermaids and glittery hippies dripping in face paint, flash tatts, tiaras, and clangling gypsy necklaces.</span>
                                                            </p>
                                                        </p>
                                                        <div class="post-header">
                                                            <p class="post-by"> <span class="post-user"><span>admin</span></span>
                                                            </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <a href="blog-detail.html"> <img alt="" src="images/blog/em_ads_08_14.jpg" /> </a> <a class="post-title em-blog-title" href="blog-detail.html">11 Emerging Jewelry Designers You Need to Know</a>
                                                        <p class="intro">
                                                            <p>Jewelry<span>&nbsp;designers are a little like the stepchild of the fashion industry. They&rsquo;re adored, but tend to play second fiddle to fashion brands</span>
                                                            </p>
                                                        </p>
                                                        <div class="post-header">
                                                            <p class="post-by"> <span class="post-user"><span>admin</span></span>
                                                            </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <a href="blog-detail.html"> <img alt="" src="images/blog/em_ads_09_9.jpg" /> </a> <a class="post-title em-blog-title" href="blog-detail.html">Target’s Lilly Pulitzer Collaboration to Include Cosmetics</a>
                                                        <p class="intro">
                                                            <p><span>A few weeks after announcing that&nbsp;</span>Lilly Pulitzer<span>&nbsp;would be its next design collaboration, which will include a&nbsp;plus-sized range and home furnishings, Target has announced that color cosmetics will also be a part of the collection. This marks the first time any of the retailer&rsquo;s designer collaborations have included a beauty component.</span>
                                                            </p>
                                                        </p>
                                                        <div class="post-header">
                                                            <p class="post-by"> <span class="post-user"><span>admin</span></span>
                                                            </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.block -->
                                        <div class="block em_block-recent-comments em-line-01">
                                            <div class="block-title"> <strong><span>Recent Comments</span></strong>
                                            </div>
                                            <div class="block-content">
                                                <ul class="em-blog-recent-comment">
                                                    <li class="recent-comment-item"> <a class="comment-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                                        <div class="recent-comment-content"> We are particularly excited about this transaction...</div>
                                                        <div class="comment-header"> <span class="comment-by"> <span>Ben Sherman</span> </span> <span class="post-time"><small class="time-stamp">Jul 22 2015</small></span>
                                                        </div>
                                                    </li>
                                                    <li class="recent-comment-item"> <a class="comment-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                                        <div class="recent-comment-content"> It will be interesting to see which firms seize...</div>
                                                        <div class="comment-header"> <span class="comment-by"> <span>Drappers</span> </span> <span class="post-time"><small class="time-stamp">Jul 22 2015</small></span>
                                                        </div>
                                                    </li>
                                                    <li class="recent-comment-item"> <a class="comment-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                                        <div class="recent-comment-content"> s the fashion business as guilty as any other...</div>
                                                        <div class="comment-header"> <span class="comment-by"> <span>Musgrave</span> </span> <span class="post-time"><small class="time-stamp">Jul 22 2015</small></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.block -->
                                        <div class="block em_block-tag-cloud em-line-01">
                                            <div class="block-title"> <strong><span>Tag Cloud</span></strong>
                                            </div>
                                            <div class="block-content">
                                                <ul>
                                                    <li class="item"><a href="#" style="font-size:32px;">shoes</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">fashion</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">kid</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">sport</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">style</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">comestic</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">aging</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">jewelry</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">you</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">garden</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">mistakes</a>
                                                    </li>
                                                    <li class="item"><a href="#" style="font-size:12px;">your</a>
                                                    </li>
                                                </ul>
                                                <div class="actions"> <a class="button-link" href="#"><span><span>View All Tags</span></span></a>
                                                </div>
                                            </div>
                                        </div><!-- /.block -->
                                    </div><!-- /. em-sidebar -->
                                </div>
                            </div><!-- /.em-main-container -->
                        </div>
                    </div>
                </div>

                <div class="em-wrapper-footer">
                    <div class="em-footer-style09">
                        <div class="em-footer-top">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-24">
                                        <div class="em-footer-info">
                                            <div class="row">
                                                <div class="col-sm-4 first text-center">
                                                    <div class="em-block-title" data-collapse-target="#collapse01">
                                                        <p class="h4 em-text-upercase"><span>What's hot</span>
                                                        </p>
                                                    </div>
                                                    <ul id="collapse01" class="em-links em-block-content block-info">
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Discount Voucher</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Spring Collection</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Trending</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Best Sellers</span></a>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.col-sm-4 -->
                                                <div class="col-sm-4 text-center">
                                                    <div class="em-block-title" data-collapse-target="#collapse02">
                                                        <p class="h4 em-text-upercase"><span>Brands</span>
                                                        </p>
                                                    </div>
                                                    <ul id="collapse02" class="em-links em-block-content block-info">
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Jack &amp; Jones</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Calvin Klein</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Ray Ban</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>River Island</span></a>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.col-sm-4 -->
                                                <div class="col-sm-4 text-center">
                                                    <div class="em-block-title" data-collapse-target="#collapse03">
                                                        <p class="h4 em-text-upercase"><span>Men shop</span>
                                                        </p>
                                                    </div>
                                                    <ul id="collapse03" class="em-links em-block-content block-info">
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Top</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Bottoms</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Accessories</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Shoes</span></a>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.col-sm-4 -->
                                                <div class="col-sm-4 text-center">
                                                    <div class="em-block-title" data-collapse-target="#collapse04">
                                                        <p class="h4 em-text-upercase"><span>Women shop</span>
                                                        </p>
                                                    </div>
                                                    <ul id="collapse04" class="em-links em-block-content block-info">
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Jeans</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Dresses</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Other</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Shoes</span></a>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.col-sm-4 -->
                                                <div class="col-sm-4 text-center">
                                                    <div class="em-block-title" data-collapse-target="#collapse05">
                                                        <p class="h4 em-text-upercase"><span>Help</span>
                                                        </p>
                                                    </div>
                                                    <ul id="collapse05" class="em-links em-block-content block-info">
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>F.A.Q.</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Shipping</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="http://demo.emthemes.com/everything/index.php/contacts"><span>Contact Us</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Privacy Policy</span></a>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.col-sm-4 -->
                                                <div class="col-sm-4 last text-center">
                                                    <div class="em-block-title" data-collapse-target="#collapse06">
                                                        <p class="h4 em-text-upercase"><span>Nation Apps</span>
                                                        </p>
                                                    </div>
                                                    <ul id="collapse06" class="em-links em-block-content block-info">
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>iPhone</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>iPad</span></a>
                                                        </li>
                                                        <li class="em-links-item"><a title="em-sample-title" href="#"><span>Android</span></a>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.col-sm-4 -->
                                            </div><!-- /.row -->
                                            <div class="em-footer-info-bottom">
                                                <div class="row">
                                                    <div class="col-sm-15 first">
                                                        <div class="em-wrapper-newsletter">
                                                            <div class="em-block-title" data-collapse-target="#collapse07">
                                                                <p class="h4 em-text-upercase"><span>Sign Up For Newsletter</span>
                                                                </p>
                                                            </div>
                                                            <div id="collapse07" class="em-block-content em-newsletter">
                                                                <div class="em-newsletter-style05">
                                                                    <div class="block block-subscribe">
                                                                        <form method="post" id="em-newsletter-validate-detail-style03">
                                                                            <div class="block-content">
                                                                                <div class="form-subscribe-content">
                                                                                    <div class="input-box">
                                                                                        <input type="text" name="email" id="em-newsletter-style03" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Sign up for your email ..." />
                                                                                    </div>
                                                                                    <div class="actions">
                                                                                        <button type="submit" title="Subscribe" class="button"><span><span>Subscribe</span></span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /#collapse07 -->
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 last">
                                                        <div class="em-wrapper-social f-right">
                                                            <div class="em-block-title" data-collapse-target="#collapse08">
                                                                <p class="h4 em-text-upercase"><span>Follow Us</span>
                                                                </p>
                                                            </div>
                                                            <div id="collapse08" class="em-block-content">
                                                                <p class="em-social"><a class="em-social-icon em-facebook f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-twitter f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-pinterest  f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-google f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-rss  f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /.em-footer-info-bottom -->
                                        </div><!-- /.em-footer-info -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.em-footer-top -->
                        <div class="em-footer-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-24">
                                        <div class="em-area-footer02">
                                            <div class="em-payment f-right"><a class="em-payment-icon em-visa" title="em-sample-title" href="#">visa</a> <a class="em-payment-icon em-master" title="em-sample-title" href="#">master</a> <a class="em-payment-icon em-express " title="em-sample-title" href="#">express</a><a class="em-payment-icon em-paypal" title="em-sample-title" href="#">paypal</a> <a class="em-payment-icon em-other " title="em-sample-title" href="#">other</a>
                                            </div>
                                        </div>
                                        <div class="em-footer-address"> <address class="f-left">&copy; 2015 EM0131 Everything Demo Store. All Rights Reserved.<span>HTML Templates by <a href="#" title="Responsive HTML Themes &amp; Responsive HTML Templates">htmlcooker.com</a></span></address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.em-footer-bottom -->
                    </div><!-- /.em-footer-style09 -->
                </div><!-- /.em-wrapper-footer -->
                
                <p id="back-top" style="display: none;"><a title="Top" href="#top">Top</a></p>

            </div><!-- /.page -->
            
        </div><!-- /.wrapper -->

    </body>

<script>
    $(document).ready(function () {
        $('#example').DataTable();

    });
</script>

