


<div class="update-info">
    <form id="formAddOrUpdate">
        @if (ViewBag.data == null)
        {
            <input type="number" name="ID" value="0" class="form-control hidden" hidden />
            <div class="row m-0">
                <div class="col-md-3">
                    <label>Mã Sản phẩm</label>
                    <input type="text" value="" name="Code" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Tên Sản phẩm</label>
                    <input type="text" value="" name="Name" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Danh mục</label>
                    <select name="CategoryID" class="form-control">
                        <option value="-1">Chọn Danh mục</option>
                        @foreach (var item in ViewBag.Category as IEnumerable<Data.DTO.CategoryDTO>)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Nhà CC</label>
                    <select name="SupplierID" class="form-control">
                        <option value="-1">Chọn nhà cc</option>
                        @foreach (var item in ViewBag.Supplier as IEnumerable<Data.DTO.SuppelierDTO>)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                    <div class="error"></div>
                </div>
                
                <div class="col-md-3">
                    <label>Mô tả</label>
                    <input class="form-control" type="text" name="Description" value="" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Giảm giá</label>
                    <input type="number" value="" name="Discount" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Số lượng nhập</label>
                    <input type="number" value="" name="TotalPurchase" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Số lượng đã bán</label>
                    <input type="number" value="" name="TotalInventory" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Trạng thái</label>
                    <select class="form-control status" value="true" name="Status">
                        <option value="false"> Tồn nhều </option>
                        <option value="true"> Hàng tặng </option>
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Hiển thị lên trang</label>
                    <input type="radio" value="" name="ShowOnHome" checked />

                    <div class="error"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn-update btn btn-primary" type="button" onclick="AddOrUpdate('formAddOrUpdate', '/admin/Product/AddOrUpdate', '/admin/Product/listProduct', 'dataTable');AddLog('Thêm 1 sản phẩm', '/admin/Log/addLog/'"> Thêm mới</button>
            </div>
        }
        else
        {
            <input type="number" name="ID" value="@ViewBag.data.ID" class="form-control hidden" readonly hidden />
            <div class="row m-0">
                <div class="col-md-3">
                    <label>Mã Sản phẩm</label>
                    <input type="text" value="@ViewBag.data.Code" name="Code" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Tên Sản phẩm</label>
                    <input type="text" value="@ViewBag.data.Name" name="Name" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Nhà sản xuất</label>
                    <select name="SupplierID" class="form-control">
                        @foreach (var item in ViewBag.Supplier as IEnumerable<Data.DTO.SuppelierDTO>)
                        {
                            <option value="@item.ID">@item.Name</option>
                            if (ViewBag.data.SupplierID == item.ID)
                            {
                                <option value="@item.ID" selected>@item.Name</option>
                            }

                        }
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Danh mục</label>
                    <select name="CategoryID" class="form-control">
                        @foreach (var item in ViewBag.Category as IEnumerable<Data.DTO.CategoryDTO>)
                        {
                            <option value="@item.ID">@item.Name</option>
                            if (ViewBag.data.CategoryID == item.ID)
                            {
                                <option value="@item.ID" selected>@item.Name</option>
                            }
                        }
                    </select>
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Image</label>
                    <input id="xFilePath" name="UrlImage" value="@ViewBag.data.UrlImage" type="text" class="form-control" />
                    <input type="button" value="Browse Server" onclick="BrowseServer();" class="controls" />
                </div>
                <div class="col-md-3">
                    <label>Đơn giá nhập</label>
                    <input class="form-control" type="text" name="ImportPrice" value="@ViewBag.data.ImportPrice" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Đơn giá bán</label>
                    <input type="text" value="@ViewBag.data.ExportPrice" name="ExportPrice" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Mô tả</label>
                    <input class="form-control" type="text" name="Description" value="@ViewBag.data.Description" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Giảm giá</label>
                    <input type="number" value="@ViewBag.data.Discount" name="Discount" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Số lượng nhập</label>
                    <input type="number" value="@ViewBag.data.TotalPurchase" name="TotalPurchase" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Số lượng đã bán</label>
                    <input type="number" value="@ViewBag.data.TotalInventory" name="TotalInventory" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-3">
                    <label>Trạng thái</label>
                    <select name="Status" class="form-control">
                        @if (ViewBag.data.Status == false)
                        {
                            <option value="true">Hàng hot</option>
                            <option value="false" selected>Hàng tặng</option>
                        }
                        @if (ViewBag.data.Status == true)
                        {
                            <option value="true" selected>Hàng hot</option>
                            <option value="false">Hàng tặng</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" value="@ViewBag.data.ShowOnHome" id="True" name="ShowOnHome" checked />
                    <label for="True">Hiển thị</label>
                    <div class="error"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn-update btn btn-primary" type="button" onclick="AddOrUpdate('formAddOrUpdate', '/admin/Product/AddOrUpdate', '/admin/Product/listProduct', 'dataTable');AddLog('Update 1 sản phẩm', '/admin/Log/addLog/')"> Cập nhập</button>
            </div>
        }
    </form>
</div>
    <script>
        function BrowseServer() {
            var finder = new CKFinder();
            finder.basePath = '~/ckfinder';
            finder.selectActionFunction = SetFileField;
            finder.popup();
        }
        function SetFileField(fileUrl) {
            document.getElementById('xFilePath').value = fileUrl;
        }
    </script>
