<div class="update-ShopInformation">
    <form id="formAddOrUpdate">
        @if (ViewBag.data == null)
        {
        <div class="row m-0">
            <input type="number" name="ID" value="0" class="form-control hidden" readonly hidden />
            <div class="col-md-3">
                <label>Tên shop</label>
                <input type="text" value="" name="Name" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-5">
                <label>Logo</label>
                <span><input id="xFilePath" name="Logo" type="text" class="form-control" /></span>
                <span> <input type="button" value="Browse Server" onclick="BrowseServer();" class="controls" /></span>

                <div class="error"></div>
            </div>
            <div class="col-md-3">
                <label>Mã số thuế</label>
                <input type="text" value="" name="Taxcode" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-3">
                <label>Địa chỉ</label>
                <input type="text" value="" name="Address" class="form-control" />
                <div class="error"></div>
            </div>

            <div class="col-md-3">
                <label>Số điện thoại</label>
                <input type="text" value="" name="Moblie" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-3">
                <label>Email  </label>
                <input type="text" value="" name="Email" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-3">
                <label>Facebook  </label>
                <input type="text" value="" name="Facebook" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-3">
                <label>Instagram  </label>
                <input type="text" value="" name="Instagram" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-3">
                <label>Twitter  </label>
                <input type="text" value="" name="Twitter" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-3">
                <label>Youtube  </label>
                <input type="text" value="" name="Youtube" class="form-control" />
                <div class="error"></div>
            </div>

            <div class="col-md-3">
                <label>Zalo  </label>
                <input type="text" value="" name="Zalo" class="form-control" />
                <div class="error"></div>
            </div>


        </div>
            <div class="modal-footer">
                <button class="btn-createEdit btn btn-success" onclick="AddOrUpdate('formAddOrUpdate' , '/ShopInformation/AddOrUpdate' , '/ShopInformation/ListShopInformation' , 'dataTable')"> Thêm mới</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        }
        else
        {

    <div class="row m-0">
        <input type="number" name="ID" value="@ViewBag.data.ID" class="form-control hidden" readonly hidden />
        <div class="col-md-3">
            <label>Tên shop</label>
            <input type="text" name="Name" class="form-control" value="@ViewBag.data.Name" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Logo</label>
            <span><input id="xFilePath" name="Logo" type="text" class="form-control" value="@ViewBag.data.Logo" /></span>
            <span> <input type="button" value="Browse Server" onclick="BrowseServer();" class="controls" /></span>
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Mã số thuế</label>
            <input type="text" name="TaxCode" class="form-control" value="@ViewBag.data.TaxCode" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Địa chỉ</label>
            <input type="text" value="@ViewBag.data.Address" name="Address" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Số điện thoại</label>
            <input type="text" value="@ViewBag.data.Moblie" name="Moblie" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Email</label>
            <input type="text" value="@ViewBag.data.Email" name="Email" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Facebook</label>
            <input type="text" value="@ViewBag.data.Facebook" name="Facebook" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Instagram</label>
            <input type="text" value="@ViewBag.data.Instagram" name="Instagram" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Twitter</label>
            <input type="text" value="@ViewBag.data.Twitter" name="Twitter" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Youtube</label>
            <input type="text" value="@ViewBag.data.Youtube" name="Youtube" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Zalo</label>
            <input type="text" value="@ViewBag.data.Zalo" name="Zalo" class="form-control" />
            <div class="error"></div>
        </div>
    </div>
            <div class="modal-footer">
                <button class="btn-createEdit btn btn-success" onclick="AddOrUpdate('formAddOrUpdate' , '/ShopInformation/AddOrUpdate' , '/ShopInformation/ListShopInformation' , 'dataTable')"> Cập nhật</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        }
</form>
</div>
<script>

    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '~/ckfinder';
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
    function SetFileField(fileUrl) {
        document.getElementById('xFilePath').value = fileUrl;
    }
</script>
