@model Data.DTO.ShopInformationDTO
<table class="table table-triped">
    <tr>
        <th>Tên shop</th>
        <th>@Model.Name</th>
    </tr>
    <tr>
        <th>Logo</th>
        <th>@Model.Logo</th>
    </tr>
    <tr>
        <th>Mã số thuế</th>
        <th>@Model.TaxCode </th>
    </tr>
    <tr>
        <th>Địa chỉ</th>
        <th>@Model.Address</th>
    </tr>
    <tr>
        <th>Số điện thoại</th>
        <th>@Model.Moblie</th>
    </tr>
    <tr>
        <th>Email</th>
        <th>@Model.Email</th>
    </tr>
    <tr>
        <th>Facebook</th>
        <th>@Model.Facebook</th>
    </tr>
    <tr>
        <th>Instagram</th>
        <th>@Model.Instagram</th>
    </tr>
    <tr>
        <th>Twitter</th>
        <th>@Model.Twitter</th>
    </tr>
    <tr>
        <th>Youtube</th>
        <th>@Model.Youtube</th>
    </tr>
    <tr>
        <th>Zalo</th>
        <th>@Model.Zalo</th>
    </tr>
    
</table>
