<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
            <a href="@Url.Action("Index","Home")">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">receipt</i>
                <span>Quản lý sản phẩm</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="@Url.Action("Index","Product")">Quản lý sản phẩm</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Category")">Danh mục sản phẩm</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Size")">Size</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Color")">Color</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Tag")">Tags</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Suppelier")">Nhà cung cấp</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","DiscountCode")">Code khuyến mãi</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index","Order")">
                <i class="material-icons">shopping_basket</i>
                <span>Quản lý đơn hàng</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Transaction")">
                <i class="material-icons">add_shopping_cart</i>
                <span>Quản lý giao dịch</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Posts")">
                <i class="material-icons">post_add</i>
                <span>Quản lý bài viết</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Contact")">
                <i class="material-icons">contact_page</i>
                <span>Quản lý contact</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","ShopInformation")">
                <i class="material-icons">store</i>
                <span>Cấu hình thông tin cửa hàng</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Log")">
                <i class="material-icons">history</i>
                <span>Quản lý lịch sử logs</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Statistical")">
                <i class="material-icons">assignment</i>
                <span>Thống kê</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Logout","User")">
                <i class="material-icons">logout</i>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>

