@model Data.DTO.SuppelierDTO
<table class="table table-triped">
    <tr>
        <th>Tên NCC</th>
        <th>@Model.Name</th>
    </tr>
    <tr>
        <th>Địa chỉ</th>
        <th>@Model.Andress</th>
    </tr>
    <tr>
        <th>Số điện thoại</th>
        <th>@Model.Mobile</th>
    </tr>
    <tr>
        <th>Email</th>
        <th>@Model.Email</th>
    </tr>
    <tr>
        <th>Là Quản lý</th>
        <th>@Model.Manager</th>
    </tr>
   
</table>
