@model IEnumerable<Data.DTO.PDetailDTO>
<div class="em-main-container em-col1-layout">
    <div class="row">
        <div class="em-col-main col-sm-22 col-sm-offset-1">
            <div id="messages_product_view"></div>
            <div class="product-view">
                <div class="product-essential">
                    <form method="post" id="product_addtocart_form">
                        <input name="form_key" type="hidden" value="N4DL2crX27DuHSDk" />
                        <div class="product-view-detail">
                            <div class="em-product-view row">
                                <div class="em-product-view-primary em-product-img-box col-sm-16 first">
                                    <div id="em-product-shop-pos-top"></div>
                                    <div class="product-img-box">
                                        <div class="media-left">
                                            <p class="product-image">
                                                <a class="cloud-zoom" id="image_zoom" rel="zoomWidth: 500,zoomHeight: 500,position: 'inside'" href="@ViewBag.product.UrlImage"> <img class="em-product-main-img" src="@ViewBag.product.UrlImage" alt='' title="WIASSI Version 1" /> </a> <a id="zoom-btn" rel="lightbox[em_lightbox]" href="@ViewBag.product.UrlImage" title="WIASSI Version 1">Zoom</a>
                                            </p>
                                        </div><!-- /.media-left -->
                                        <div class="more-views">
                                            <ul class="em-moreviews-slider ">
                                                <li class="item">
                                                    <a class="cloud-zoom-gallery" rel="useZoom:'image_zoom', smallImage:'~/Content/images/product/800x800/4_1.jpg', adjustX:5, adjustY:-5, position:'inside'" onclick="return false" href="~/Content/images/product/1000x1000/4_1.jpg"> <img src="~/Content/images/product/100x100/4_1.jpg" alt="" /> </a> <a class="no-display" href="images/product/1000x1000/4_1.jpg" rel="lightbox[em_lightbox]">lightbox moreview</a>
                                                </li>
                                                <li class="item">
                                                    <a class="cloud-zoom-gallery" rel="useZoom:'image_zoom', smallImage:'~/Content/images/product/800x800/6_1.jpg', adjustX:5, adjustY:-5, position:'inside'" onclick="return false" href="~/Content/images/product/1000x1000/6_1.jpg"> <img src="~/Content/images/product/100x100/6_1.jpg" alt="" /> </a> <a class="no-display" href="images/product/1000x1000/6_1.jpg" rel="lightbox[em_lightbox]">lightbox moreview</a>
                                                </li>
                                                <li class="item">
                                                    <a class="cloud-zoom-gallery" rel="useZoom:'image_zoom', smallImage:'~/Content/images/product/800x800/5_1.jpg', adjustX:5, adjustY:-5, position:'inside'" onclick="return false" href="~/Content/images/product/1000x1000/5_1.jpg"> <img src="~/Content/images/product/100x100/5_1.jpg" alt="" /> </a> <a class="no-display" href="images/product/1000x1000/5_1.jpg" rel="">lightbox moreview</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.more-views -->
                                    </div>
                                </div><!-- /.em-product-view-primary -->
                                <div class="em-product-view-secondary em-product-shop col-sm-8 product_Detail m-4">
                                    <div class="product-shop fix_menu">
                                        <div id="em-product-info-basic">

                                            <div class="product-name">
                                                <h1>@ViewBag.product.Name</h1>
                                            </div>
                                            <div class="product-code">
                                                <label>Mã sản phẩm</label>
                                                <h3>@ViewBag.product.Code</h3>
                                            </div>
                                            <div class="product-price">
                                                <label>Giá bán</label>
                                                <h1 style="color:red;font-size:20px">@ViewBag.product.ExportPrice</h1>
                                            </div>
                                            @if (Model.Count() > 0)
                                            {
                                                <div class="size-button">
                                                    <label>Chọn size</label>
                                                    <div class="form-check">

                                                        @{var count = 0; }
                                                        @foreach (var item in ViewBag.size)
                                                        {

                                                            if (@count == 0)
                                                            {
                                                                <input class="form-check-input" value="@item.ID" type="radio" name="size" id="@item.ID" style="width:20px;height:20px;margin-right:5px" onchange="changeSize()" checked>
                                                                count = count + 1;
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" value="@item.ID" type="radio" name="size" id="@item.ID" style="width:20px;height:20px;margin-right:5px" onchange="changeSize()">
                                                            }
                                                            <label class="form-check-label" for="@item.ID" style="margin-right:7px;font-size:16px;color:red">
                                                                @item.Name
                                                            </label>

                                                        }

                                                    </div>
                                                </div>
                                                <div class="color-button">
                                                    <label>Chọn color</label>
                                                    <div class="form-check">
                                                        @{var x = 0;}
                                                        @foreach (var item in ViewBag.color)
                                                        {
                                                            if (x == 0)
                                                            {
                                                                <input class="form-check-input" onchange="changeColor()" type="radio" name="color" value="@item.ID" id="@item.Name" style="width:20px;height:20px;margin-right:5px" checked>
                                                                x = x + 1;
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" onchange="changeColor()" type="radio" name="color" value="@item.ID" id="@item.Name" style="width:20px;height:20px;margin-right:5px" @x= =0?"checked":>
                                                            }
                                                            <label class="form-check-label" for="@item.ID" style="margin-right:7px;font-size:16px;color:red">
                                                                @item.Name
                                                            </label>

                                                        }
                                                    </div>
                                                </div>
                                                <div>

                                                    <p class="availability in-stock">
                                                        Availability: <span>In stock</span>
                                                    </p>

                                                    <div class="price-box">
                                                        <span class="regular-price" id="product-price-206"> <span class="price" content="750">@ViewBag.Product.ExportPrice $</span> </span>
                                                    </div>
                                                </div>
                                                <div class="add-to-box">
                                                    <div class="add-to-cart">
                                                        <label for="qty">Qty:</label>
                                                        <div class="qty_cart">
                                                            <div class="qty-ctl">
                                                                <button title="decrease" onclick="changeQty(0); return false;" class="decrease">decrease</button>
                                                            </div>
                                                            <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" />
                                                            <div class="qty-ctl">
                                                                <button title="increase" onclick="changeQty(1); return false;" class="increase">increase</button>
                                                            </div>
                                                        </div>
                                                        <ul class="add-to-links">
                                                            <li>
                                                                <a title="Add to Wishlist" href="#" class="link-wishlist">Add to Wishlist</a>
                                                            </li>
                                                            <li>
                                                                <span class="separator">|</span> <a href="#" title="Add to Compare" class="link-compare">Add to Compare</a>
                                                            </li>
                                                        </ul>
                                                        <div class="button_addto">
                                                            <button type="button" title="Buy Now" id="em-buy-now" class="btn btn-success" onclick="add(@ViewBag.product.ID)">
                                                                <span><span>Thêm vào giỏ hàng</span></span>
                                                            </button>
                                                        </div>
                                                    </div><!-- /.add-to-cart -->
                                                </div><!-- /.add-to-box -->
                                            }
                                            else
                                            {
                                                <div>Sản phẩm đã hết hàng</div>
                                                <button class="btn btn-danger">Liên hệ</button>
                                            }
                                            <a class="btn btn-info" href='@Url.Action("Index", "Cart")'>Thanh toán</a>
                                            <a href="@Url.Action("Index","Product")" class="btn btn-info">Quay lại trang mua hàng</a>
                                        </div><!-- /.em-product-info-basic -->
                                    </div>
                                </div><!-- /.em-product-view-secondary -->
                            </div>
                            <div class="clearer"></div>
                        </div><!-- /.product-view-detail -->
                    </form>
                </div><!-- /.product-essential -->
                <div class="row">
                    <div class="em-product-view-primary col-sm-16 first"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        layout = '1column';
    </script>
    <script>
        $(document).ready(() => {
            changeSize();
            changeColor();
        })

        jQuery('.cloud-zoom-gallery').click(function () {
            jQuery('#zoom-btn').attr('href', this.href);
        });
        function doSliderMoreview() {
            var owl = $("ul.em-moreviews-slider");
            if (owl.length) {
                owl.owlCarousel({
                    // Navigation
                    navigation: true,
                    navigationText: ["Previous", "Next"],
                    pagination: false,
                    paginationNumbers: false,
                    // Responsive
                    responsive: true,
                    items: 7,
                    /*items above 1200px browser width*/
                    itemsDesktop: [1200, 4],
                    /*//items between 1199px and 981px*/
                    itemsDesktopSmall: [992, 7],
                    itemsTablet: [768, 3],
                    itemsMobile: [480, 2],
                    // CSS Styles
                    baseClass: "owl-carousel",
                    theme: "owl-theme",
                    transitionStyle: false,
                    addClassActive: true,
                });
            }
        }

        function changeQty(increase) {
            var qty = parseInt($('#qty').val());
            if (!isNaN(qty)) {
                console.log(qty)
                qty = increase ? qty + 1 : (qty > 1 ? qty - 1 : 1);
                $('#qty').val(qty);
            }
        }
        (function ($) {
            $(window).load(function () {
                if (!isPhone) {
                    $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
                }
                doSliderMoreview();
            });
        })(jQuery);
    </script>
}

<!-- Product View Js -->
<script type="text/javascript" src="~/Content/js/em_product_view.js"></script>
<!-- Lightbox Js -->
<script type="text/javascript" src="~/Content/js/lightbox.min.js"></script>


