@model Data.DTO.ContactDTO
<table class="table table-triped">
    <tr>
        <th>Tên</th>
        <th>@Model.Name</th>
    </tr>
    <tr>
        <th>Email</th>
        <th>@Model.Email</th>
    </tr>
    <tr>
        <th>Số điện thoại</th>
        <th>@Model.Mobile</th>
    </tr>
    <tr>
        <th>Tiêu đề</th>
        <th>@Model.Title</th>
    </tr>
    <tr>
        <th>Nội dung</th>
        <th>@Model.Content</th>
    </tr>
   
    <tr>
        <th>Thời gian tạo</th>
        <th>@Model.CreatedAt</th>
    </tr>
    
  
</table>
