@model Data.DTO.PostsDTO
<table class="table table-triped">
    <tr>
        <th>Tiêu đề</th>
        <th>@Model.Title</th>
    </tr>
    <tr>
        <th>Ảnh</th>
        <th>@Model.Image</th>
    </tr>
    <tr>
        <th>Mô tả</th>
        <th>@Model.Description</th>
    </tr>
    <tr>
        <th>Nội dung</th>
        <th>@Model.Content</th>
    </tr>
    <tr>
        <th>Trạng thái</th>
        <th>@Model.Status</th>
    </tr>
    <tr>
        <th>Người tạo</th>
        <th>@Model.CreatedBy</th>
    </tr>
    <tr>
        <th>Thời gian tạo</th>
        <th>@Model.CreatedAt</th>
    </tr>
    <tr>
        <th>Người sửa đổỉ</th>
        <th>@Model.ModifyBy</th>
    </tr>
    <tr>
        <th>Thời gian sửa đổi</th>
        <th>@Model.ModifyAt</th>
    </tr>
   
</table>
