<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Content/admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Content/admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/Content/admin/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/admin/css/style.css" rel="stylesheet">
    <!--Alert2-->
    <link href="~/Content/common/package/dist/sweetalert2.min.css" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/admin/css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/Content/admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    @RenderSection("MyCss", required: false)
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Quản trị shop</a>
            </div>

        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            @Html.Action("GetUser","User")
            <!-- #User Info -->
            <!-- Left Menu -->
            @Html.Partial("Layout/LeftMenu")
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    @RenderBody()
    <!-- Jquery Core Js -->
    <script src="~/Content/admin/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Content/admin/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Content/admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/admin/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/Content/admin/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/Content/admin/plugins/raphael/raphael.min.js"></script>
    <script src="~/Content/admin/plugins/morrisjs/morris.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/Content/admin/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!--Alert2-->
    <script src="~/Content/common/package/dist/sweetalert2.all.min.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/admin/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="~/Content/admin/js/demo.js"></script>
    <!--Databases-->
    <!-- Jquery DataTable Plugin Js -->
    <script src="/Content/admin/plugins/jquery-datatable/jquery.dataTables.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/extensions/export/jszip.min.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js">
    </script>
    <script src="/Content/admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js">
    </script>
    <script src="~/Content/admin/js/pages/tables/jquery-datatable.js"></script>
    <!-- Common Custom-->
    <script src="~/Content/common/common.js"></script>
</body>
@RenderSection("Js", required: false)
@RenderSection("MyJs", required: false)
<script src="/Content/ckfinder_aspnet_2.6.2.1/ckfinder/ckfinder.js"></script>
</html>
